#center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#htlogo {
    width: 150px; /* you can use % */
    height: auto;
}

.container{
    display: flex;
}
.fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
}

* {
    font-family: Noto Sans;
  }
